body {
    background-image: url(/landing-page/images/wood-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
}
/* 
.container, 
div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.header {
    background-color: #1F2937;
    height: 120px;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}




.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;
}

ul {
    display: flex;
    list-style: none;
    align-self: flex-end;
}

li a{
    padding: 10px;
    font-size: 18px;
    color: #E5E7EB;
} */
 

/* 
header {
    background-color: #1F2937;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* the ul is an element, must style that element */
/* .nav, 

li a:hover {
    color: #9CA3AF;
}

